:host {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

form {
  width: 300px;
}

nz-form-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 24px;
  height: 65px;
}

nz-form-label,
nz-form-control {
  width: 100%;
  text-align: start;
}

.register-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  margin: 0 auto;
}