<div class="carriage">
  @for (item of rowsArray; track $index; let i = $index) {
    <div class="row">
      <div class="left-seats">
        @for (seatIndex of leftSeatsArray; track $index; let seatNum = $index) {
          <div class="seat">{{ getSeatNumber(i, seatNum) }}</div>
        }
      </div>
      <div class="aisle">Aisle</div>

      <div class="right-seats">
        @for (seatIndex of rightSeatsArray; track $index; let seatNum = $index) {
          <div class="seat">{{ getSeatNumber(i, carriage.leftSeats + seatNum) }}</div>
        }
      </div>
    </div>
  }
</div>
