.burger {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  line-height: 48px;
  font-feature-settings: "tnum";
  margin-bottom: 0;
  padding-left: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  text-align: left;
  list-style: none;
  background: #fff;
  outline: none;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

button[nz-button] {
  z-index: 1000;
}

ul[nz-menu] {
  line-height: 64px;
}

@media (max-width: 600px) {
  ul[nz-menu] {
    display: flex;
    flex-direction: column;
    line-height: normal;
  }

  nz-drawer {
    padding-top: 64px;
  }
}
