<header class="header">
  <div class="header-first">
    <p nz-typography>From: {{ getStationName(+fromStationId) }}  To: {{ getStationName(+toStationId) }} {{ getStartTime() | date : "medium"}}</p>
  </div>
  <div class="header-second">
    <p nz-typography>Ride {{ rideId }}</p>
    <button nz-button nzType="dashed" (click)="toggleShowModal()">Route</button>
  </div>
</header>

@if (trip && stations) {
  <app-route-modal
    [modalData]="modalData"
    [showModal]="showModal"
    (toggleShowModal)="toggleShowModal()"
  />
}

@if (carriages.length) {
  <app-carriage [carriage]="carriages[0]" [startNumber]="0"/>
}

