<!-- <nz-table
  #basicTable
  [nzData]="sortedOrders"
  [nzFrontPagination]="false"
  [nzPageSize]="5"
  [nzShowPagination]="true"
  [(nzPageIndex)]="pageIndex"
  [nzTotal]="totalOrders"
  nzShowSizeChanger
>
  <thead>
    <tr>
      <th>Start Station</th>
      <th>Start Trip Time</th>
      <th>End Station</th>
      <th>End Trip Time</th>
      <th>Trip Duration</th>
      <th>Carriage Type</th>
      <th>Car Number</th>
      <th>Seat Number</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    @for (order of paginatedOrders; track $index) {
      <tr>
        <td>{{ getStationName(order.path[0]) }}</td>
        <td>{{ getTripStartTime(order) | date: 'MMMM dd hh:mm' }}</td>
        <td>{{ getStationName(order.path[order.path.length - 1]) }}</td>
        <td>{{ getTripEndTime(order) | date: 'MMMM dd hh:mm' }}</td>
        <td>{{ getTripDuration(order) }}</td>
        <td>{{ order.carriages[0] }}</td>
        <td>{{ order.seatId }}</td>
        <td>{{ order.seatId }}</td>
        <td>{{ order.price[order.carriages[0]] | currency }}</td>
      </tr>
    }
  </tbody>
</nz-table> -->
<div class="orders-list">
  @for (order of sortedOrders; track $index) {
    <nz-card nzBordered class="order-card">
      <div class="order-header">
        <h3>{{ order.status | titlecase }} Order</h3>
        <h4>
          {{ order.schedule.segments[0].departure | date: 'MMMM dd, HH:mm' }} -
          {{
            order.schedule.segments[order.schedule.segments.length - 1].arrival
              | date: 'MMMM dd, HH:mm'
          }}
        </h4>
        <p>Carriage type: {{ getCarriageType(order) }}</p>
        <p>Price: {{ getTotalPrice(order) | currency }}</p>
      </div>

      <nz-divider></nz-divider>

      <div class="trip-details">
        <p><strong>Start station:</strong> Station {{ order.path[0] }}</p>
        <p><strong>End station:</strong> Station {{ order.path[order.path.length - 1] }}</p>
        <p><strong>Seat number:</strong> {{ order.seatId }}</p>
        <p><strong>Trip duration:</strong> {{ getTripDuration(order) }}</p>
      </div>
      @if (order.status === 'active') {
        <button nz-button nzType="primary" (click)="onCancelOrder(order)">Cancel</button>
      }
    </nz-card>
  }
</div>
