.carriage {
  margin-bottom: 20px;
}

.seat-map {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.line {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.left-seats, .right-seats {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

nz-tag {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}