<form nz-form [formGroup]="searchForm" (ngSubmit)="submitForm()" class="ant-advanced-search-form">
  <div class="form">
    <div class="form_dest">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please select start stattion">
          <input
          formControlName="from"
          placeholder="From"
          nz-input
          [nzAutocomplete]="autoFrom"
        />
        <nz-autocomplete nzBackfill #autoFrom>
          @for(option of (fromOptions$ | async); track option) {
            <nz-auto-option [nzValue]="option.name">
              {{ option.name }}
            </nz-auto-option>
          }
        </nz-autocomplete>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please select end station">
          <input
            formControlName="to"
            placeholder="To"
            nz-input
            [nzAutocomplete]="autoTo"
          />
          <nz-autocomplete nzBackfill #autoTo>
            @for(option of (toOptions$ | async); track option) {
              <nz-auto-option [nzValue]="option.name">
                {{ option.name }}
              </nz-auto-option>
            }
          </nz-autocomplete>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="form_date">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="'asd'">
          <nz-date-picker
          formControlName="tripDate"
          class="input_date"
          nzFormat="MMMM dd"
          [nzDisabledDate]="disabledDates"
        ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="form_submit">
          <button nz-button nzType="primary">Submit</button>
    </div>
  </div>
  <nz-tabset>
    @for(group of groupRoutes; track group ) {
      <nz-tab [nzTitle]="group.date">
        @for (route of group.routes; track route) {
          <div style="border: solid 1px;">
            <p>Poezd edet {{ route.startStationId }} -> {{ route.endStationId }}</p>
            <p>Route ID: {{ route.id }}</p>
            <p>Ride ID: {{ route.rideId }}</p>
            <p>Departure Time: {{ route.timeStarted | date:'HH:mm:ss' }}</p>
            <p>From Station: {{ route.cityFrom }}</p>
            <p>Arrived Time: {{ route.timeArrived | date:'HH:mm:ss' }}</p>
            <p>To Station: {{ route.cityTo }}</p>
          </div>
        }
      </nz-tab>
    }
  </nz-tabset>
  <app-map (markerClicked)="handleMarkerClick($event)"></app-map>
</form>

