:host {
  display: flex;
  justify-content: center;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 80%;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.form_dest {
  display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    flex-direction: row;
}

.form_date {
  display: flex;
  width: 100%;
}

.form_submit {
  display: flex;
}

.input_date {
  height: 32px;
  width: 100%;
}

.ant-form-item {
  display: flex;
  width: 100%;
}

.ant-form-button {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form_item {
  display: flex;
  flex: 0 0 25%;
  max-width: 25%;
}

.form_item_button {
  display: flex;
  flex: 0 0 20%;
  max-width: 20%;
}

.search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

[nz-form-label] {
  overflow: visible;
}

// button {
//   margin-left: 8px;
// }

.collapse {
  margin-left: 8px;
  font-size: 12px;
}

.search-area {
  text-align: right;
}
